* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #1a1a1a;
  font-family: limelight, poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* LOADINGPAGE  */

.loader {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


  .loader p {
    font-family: limelight;
    color: #fff;
    font-size: 56px;
    line-height: 60px;
    padding-top: 3rem;
    text-align: center;
  }


/* STARTPAGE */


.top-content {
  align-items: center;
  padding-top: 7rem;
}

.site-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.popcorn-icon {
  animation: spinning 3s infinite;
  display: inline-block;
  margin: 0;
  }
  
  @keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

.site-name h1 {
  color: #fff;
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.header-text {
  color: #fff;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.header-text h2 {
  font-size: 72px;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid #e6e230; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 4s steps(30, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: #e6e230 }
}

@keyframes type { 
 from { 
      width: 0; 
      } 
  }

.preamble {
  padding-top: 4rem;
  color: #fff;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}


/* OVERVIEW PAGE  */

img {
  display: block;  /*To get rid of margin bottom on imgs*/
  width: 100%;
}

.movie-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
}

.movie-item {
  position: relative;
}

.movie-item a {
 width: 300%;
 text-decoration: none;
 color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7)
}

.movie-item:hover .overlay {
  opacity: 1;
  text-align: bottom;
}

.text {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: Poppins;
  font-weight: 700;
}


/* DETAIL PAGE  */

.top-area {
  height: 150px;
  background-color: #161616;
}

.background {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.posteranddetails {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  padding: 3rem;
  align-items: flex-end;
}


.details {
  padding-left: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.meta span {
  font-size: 12px;
  font-weight: 700;
}

.meta p {
  font-weight: 100;
}

.title-score {
  padding-bottom: 1rem;
}

.poster {
  border: 4px solid #fff
}

p {
  margin: 0;
  font-family: Poppins;
  font-size: 1rem;
  line-height: 1.4rem;
}

h1 {
  margin: 0;
  padding-right: 1rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.score {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0 ;
  height: 32px;
  padding-right: 1rem;
  padding-left: 1rem;
  width: fit-content;
  border-radius: 32px;
  color: #333;
  background-color: #e6e230;
  font-weight: 700;
}


@media (max-width: 767px) {

  .top-content {
    padding-top: 2rem;
  }
  
  .site-name {
    padding-top: 3rem;
  }

  .site-name h1 {
    color: #fff;
    padding-top: 2rem;
    font-size: 1rem;
  }
  
  .header-text {
    max-width: 300px;
  }
  
  .header-text h2 {
    font-size: 1.6rem;
  }

  .preamble {
    padding-top: 2rem;
    color: #fff;
    max-width: 500px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 12px;
    /* text-align: left; */
  }

  .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 2fr));
  }

  .overlay {
    opacity: 1;
    background-color: rgba(0,0,0,0.6)
  }

  .text {
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }

  p {
    font-size: 14px;
    line-height: 1.3rem;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  h4 {
    font-size: 14px;
    margin: 0;
  }
  

  .details {
    padding-left: 0;
  }

  .top-area {
    height: 88px;
  }


  .posteranddetails {
    position: absolute;
    display: block;
    bottom: 20px;
    left: 0;
    color: white;
    padding: 1rem;
    align-items: flex-end;
  }

  /* .back-button {
    left: 1rem;
    font-size: 16px;
  } */

  .text-content {
    padding: 0;
  }

  .posteranddetails img {
    display: none;
  }

}



